body {
  margin: 0;
  padding: 0;
  background: #111;
}

video {
  position: absolute;
  opacity: 0;
  will-change: transform;
}

.supersticazzo {
  width: 90%;
}

video:not(.supersticazzo) {
  max-width: 60%;
}
