body {
  margin: 0;
  padding: 0;
  background: black;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}
.opaque {
  opacity: 0 !important;
}



.containerenzo {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
video {
  position: absolute;
  opacity: 0;
  will-change: transform;
}
.supersticazzo {
  width: 90%;
}
video:not(.supersticazzo) {
  max-width: 60%;
}



.sticazzintainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  transition: opacity 1s ease;
}
.stitanticazzi {
  line-height: 1.6em;
  font-family: 'Arial Black', Arial, sans-serif;
  font-weight: 900;
  font-size: calc(22px + 1vw);
  color: rgba(255, 255, 255, 0.1);
}




.sticazzibtn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  appearance: none;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  transform: translate(-50%, -50%);
  z-index: 1000;
  perspective: 300px;
  transition: opacity 1s ease;
}
.sticazzibtn::before {
  content: 'Press to\00000aSTICAZZI';
  display: block;
  position: relative;
  padding: 10px 40px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 26px;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0,0,0, 0.4);
  background:  linear-gradient(to bottom, #E64A19 0%, #D84315 100%);
  box-shadow: inset 0 -15px 25px -15px rgba(255, 255, 255, 0.2);

  will-change: transform;
  transition: transform 0.015s ease-out;
  z-index: 10;
  transform-origin: center bottom;
  transform: rotateX(45deg);
}
.sticazzibtn::after {
  content: '';
  display: block;
  position: relative;
  height: 17px;
  background: #9c2c09;
  box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.5);

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  will-change: transform;
  transition: transform 0.015s ease-out;
  transform-origin: center top;
  transform: rotateX(-17deg) translateY(-3px) scaleX(0.99);
}
.sticazzibtn:active::before {
  transform: rotateX(45deg) translateY(6px) translateZ(-6px);
}
.sticazzibtn:active::after {
  transform: rotateX(-17deg) translateY(6px) scaleY(0.5);
}
